p Hello!

p You recently requested a password reset on the #{appName} system.

p Simply <a href='#{link}'>visit this link to reset your password and enter a new one.</a>.

p (if the link above does not show, visit #{link} in any browser to complete the password reset)

p.
  Thank you,<br>
  #{appName} Project,<br>
  #{signatureEmail}
