p Heya - 

p A new signup has been received for #{appName}, and requires checking and SID assignment

ul
  li First Name: #{obj.first}
  li Email: #{obj.email}
  li Signed up at: #{obj.createdAt}

p You can (probably should?) <a href='#{link}'>edit/view the subject</a>.

p (if the link above does not show, head to #{link})

p Thanks for flying #{prefix} Air!
