p Hello!

p Thanks for registering with the #{appName} project!

p To finish setting up your account, please confirm your email so you can submit Diaries, receive Diary prompts, and reset your password if needed.

p.
  Simply <a href='#{link}'>visit this link to verify your account</a>.<br>
  (if the link above does not show, visit #{link} in any browser to complete your account)

p.
  Thank you,<br>
  #{appName} Project,<br>
  #{signatureEmail}
